.App {
  text-align: center;
}

header{
  padding:50px 0;
  background-color:#39A5FF;
  color:white;
}

.search-bar {
  padding:50px 0;
}

.profilePicture {
  border-radius:100%;
  box-shadow:2px 3px 5px black;
  width:60%;
}

.employee-row {
  padding:10px 0;
  border-bottom:2px solid #DDDDDD;
}

.tableHeader button{
  border-radius:5px 5px 0 0;
  color:white;
  font-weight:bold;
  border:0;
  width:96%;
}

.red-bg{background-color:red;}

.blue-bg{background-color:#39A5FF;}

.employeeContainer{
  background-color:white;
  border:2px solid  #DDDDDD;
}